:root {
  --edge-color: darkslategray;
  --header-bg-color: #656565;
  --font-size: 18px;
  background-color: var(--edge-color);
}

html, body { 
  margin: 0; 
  padding: 0; 
  height: 100%;
}  /* Add h1 here to reach top */

header {
  color: white;
  background-color: var(--header-bg-color);
  border: 4px solid black;
  padding: 15px 0 25px 0; 
  margin: 0px 0 0 0;
  font-family: arial, serif;
  font-weight: bold;
}

/* 2.2em */
header > h1 {
  font-size: 2.4em;
}

header > a {
  font-size: 20px;
}

/* 50% width and height */
.mainpage{padding-bottom: 25px; width: 40%; height: 40%; } /* width and height: 18em */

.latex img{padding-bottom: 25px; width: 100%; height: 100%; } /* width: 30em, height: 28em. 18em */

/*.latex .resize{padding-bottom: 25px; width: 38em; height: 28em; } /* 18em */

.latex .resize{padding-bottom: 25px; width: 100%; height: 100%; } /*width: 38em, height: 28em. 18em */

/*.latex .resize2{padding-bottom: 25px; width: 38em; height: 18em; } /* 18em */

.title {text-align: center;}


.main {
  width: 800px;   /* 40% 700px or 800px */
  background-color: white;
  margin: auto; 
  text-align: center; 
}

li {
  overflow-wrap: normal;
  padding: 10px;
  font-size: var(--font-size)
}

*{ 
  min-height: 100%; 
  overflow-wrap: break-word;
}

main {

  padding: 40px 40px 40px 40px;
  text-align: left;
}

.menu > a {
  text-decoration: none;
  border: 3px solid black;
  padding: 5px;
  margin: 3px;
}

.menu > a:visited, .menu > a:link, .menu > a:active {
  color: black;
}

.menu > a:hover {
  color: white;
  background-color: black;
  transition: 0.4s
}

h2 {
  font-family: 'Times New Roman', serif;
  font-size: 1.6em;
}

.text p {
  padding: 0px 0 25px 0;
}

.date {
  font-weight: bold;
  font-size: small; 
  padding-bottom: 10px;
}

a {
  text-decoration: none; 
  font-size: var(--font-size);  
}

code {background-color: #E2E2E2; padding: 4px;}

img + em {border: 0px solid black; padding: 4px;}

p{
  font-size: var(--font-size);
}


@media screen and (max-width: 992px) {
  .main { width: 90%; }
}

@media screen and (max-width: 600px) {
  .main { width: 90%; }
}

@media screen and (max-width: 410px) {
  /*img { height: 18.625em; width: 14em; } // 14em*/
   .mainpage {height: 100%; width: 100%;}
}

@media screen and (max-width: 430px) {
  .menu { display: flex; flex-direction: column; }
}

@media screen and (max-width: 340px) {
  /*img { height: 17.3125em; width: 13em; } // 13em*/
/*  .mainpage {height: 100%; width: 100%;}*/
}
